<head>
  <link rel="stylesheet" type="text/css" href="palette.css">
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>

<body class="light" style="margin: 0; --sitepad: 10px;">
  <header style="position: absolute; top: 0; right: 0; left: 0;">
    <button onclick="changeLight()" style="position: absolute; top: 5px; right: 5px; padding: 3px;">
      <svg class="nightlight hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
      <svg class="nightlight" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    </button>
    <h1 style="padding-left: var(--sitepad);">
      Website Color Tester
    </h1>
  </header>

  <div style="padding-left: var(--sitepad); margin-top: 90px;">
    <p style="margin: 0">Primary</p>
    <div class="colors primary" style="display: flex; --height: 50px; --width: 50px; ">
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-10);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-20);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-30);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-40);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-50);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-60);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-70);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-80);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-90);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-primary-100);"></div>
    </div>

    <p style="margin: 5px 0 0 0;">Triadic Secondary</p>
    <div class="colors secondary" style="display: flex; --height: 20px; --width: 50px; ">
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-10);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-20);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-30);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-40);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-50);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-60);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-70);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-80);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-90);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-secondary-100);"></div>
    </div>

    <p style="margin: 5px 0 0 0;">Triadic Tertiary</p>
    <div class="colors tertiary" style="display: flex; --height: 20px; --width: 50px; ">
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-10);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-20);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-30);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-40);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-50);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-60);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-70);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-80);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-90);"></div>
      <div style="height: var(--height); width: var(--width); background: var(--color-tertiary-100);"></div>
    </div>

    <div style="display: flex; gap: 0.5rem; margin-top: 5px; ">
      <div style="padding: 0 2px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-anchor"><circle cx="12" cy="5" r="3"></circle><line x1="12" y1="22" x2="12" y2="8"></line><path d="M5 12H2a10 10 0 0 0 20 0h-3"></path></svg>
      </div>
      <div class="accent" style="display: grid; justify-content: center; padding: 0 2px; background: var(--color-primary-accent); border-radius: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-anchor"><circle cx="12" cy="5" r="3"></circle><line x1="12" y1="22" x2="12" y2="8"></line><path d="M5 12H2a10 10 0 0 0 20 0h-3"></path></svg>
      </div>
      <button>Button</button>
      <button class="tertiary">Tertiary</button>
    </div>
    <h2>
      Purpose
    </h2>
    <p>
    This site is constructed to automatically apply shades and formatting to various elements once a primary color is chosen. For now, adjust colors by looking at palette.css in dev tools and changing <code>--base-primary-h</code>, <code>--base-primary-s</code>, and <code>--base-primary-l</code> in <code>:root</code>.
    </p>
    <p>
      Coming soon: 
      <ul>
        <li>color picker <input type="color"></li>
        <li>designed site</li>
        <li>hosting this publicly</li>
      </ul>
    </p>
    <h2>
      Test Paragraph under a subheader. 
    </h2>
    <p>
    Lorem ipsum <a href=#>dolor sit amet, consectetur adipiscing elit, sed</a> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Ut tortor pretium viverra suspendisse potenti. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Id neque aliquam vestibulum morbi. Enim facilisis gravida neque convallis a cras. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Purus gravida quis blandit turpis cursus in hac habitasse. Nisl nisi scelerisque eu ultrices. Viverra vitae congue eu consequat ac felis donec et. Eget lorem dolor sed viverra. Sagittis eu volutpat odio facilisis mauris sit. Quis lectus nulla at volutpat. Ut eu sem integer vitae justo eget magna fermentum iaculis. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
    </p>
    <p>
    Eu feugiat pretium nibh ipsum consequat nisl. Dictum varius duis at consectetur lorem donec. <a href="#">Vel quam elementum pulvinar etiam non quam lacus.</a> Netus et malesuada fames ac turpis egestas sed tempus urna. Lectus urna duis convallis convallis. Tortor id aliquet lectus proin nibh. Lacus sed viverra tellus in hac habitasse. Lacus laoreet non curabitur gravida. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Amet nulla facilisi morbi tempus iaculis urna id. Sem nulla pharetra diam sit amet. Et pharetra pharetra massa massa ultricies.
    </p>
    <p>
      Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer. Aliquet nec ullamcorper sit amet risus nullam. Habitant morbi tristique senectus et. Ut aliquam purus sit amet. A cras semper auctor neque vitae tempus quam. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Pellentesque elit eget gravida cum. Sagittis purus sit amet volutpat consequat mauris nunc congue nisi. Proin libero nunc consequat interdum varius sit amet mattis. Volutpat consequat mauris nunc congue nisi. Tempor id eu nisl nunc mi. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Nulla facilisi etiam dignissim diam quis enim. Fusce id velit ut tortor pretium viverra suspendisse. Lectus quam id leo in vitae turpis massa. Et malesuada fames ac turpis egestas sed. Donec massa sapien faucibus et molestie ac feugiat.
    </p>
    <p>
      Enim facilisis gravida neque convallis a cras semper auctor neque. Nulla facilisi cras fermentum odio eu feugiat pretium. Egestas maecenas pharetra convallis posuere morbi leo urna. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Lacus sed viverra tellus in hac. Sed faucibus turpis in eu mi bibendum neque egestas congue. Ac felis donec et odio pellentesque. Vitae aliquet nec ullamcorper sit amet risus nullam eget. Velit laoreet id donec ultrices tincidunt arcu non. Pretium quam vulputate dignissim suspendisse in est ante. Odio morbi quis commodo odio aenean sed. Massa ultricies mi quis hendrerit dolor magna. Nisi scelerisque eu ultrices vitae auctor eu augue ut. At tempor commodo ullamcorper a lacus vestibulum sed arcu non. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Est ante in nibh mauris cursus mattis. Leo urna molestie at elementum. Ipsum a arcu cursus vitae congue.
    </p>
    <p>
      Vitae justo eget magna fermentum. Nibh mauris cursus mattis molestie a iaculis at erat. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Dictum fusce ut placerat orci nulla. Eros donec ac odio tempor orci dapibus. Donec enim diam vulputate ut pharetra sit. Cursus risus at ultrices mi tempus. Purus non enim praesent elementum facilisis. Tellus at urna condimentum mattis pellentesque id nibh tortor id. Etiam sit amet nisl purus in mollis nunc. Morbi non arcu risus quis varius quam quisque. Facilisi cras fermentum odio eu. Mus mauris vitae ultricies leo integer malesuada nunc. Venenatis urna cursus eget nunc scelerisque viverra mauris. </p>
    </p>
  </div>
  <footer style="position: sticky; bottom: 0; left: 0; right: 0; display: grid; justify-content: center;">
    <nav>
      <ul style="display: flex; gap: 1rem; max-width: content; list-style: none;">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </nav>
  </footer>
</body>

<script>
  function changeLight() {
    document.body.classList.toggle("dark");
    document.body.classList.toggle("light");

    let nightlights = document.getElementsByClassName("nightlight");
      for (let svg of nightlights) {
          svg.classList.toggle("hidden");
        }
    }
</script>

