:root {
  /* SAMPLE COLORS */
    /* --black: #121212; */
    /* --black: hsl(0deg 0% 7.06%); */
    /* --white: #f2f2f2; */
    /* --white: hsl(36deg 25.77% 95.88%); */
    /* --blue: #3DA59D; */
    /* --blue: hsl(175.38deg 63.03% 44.31%); */

    /* Red */
    /* --base-primary-h: 344.72deg; */
    /* --base-primary-s: 93.81%; */
    /* --base-primary-l: 44.31%; */

    /* Yellow */
    /* --base-primary-h: 44.72deg; */
    /* --base-primary-s: 93.81%; */
    /* --base-primary-l: 44.31%; */

    /* Light blue */
    /* --base-primary-h: 189.71deg; */
    /* --base-primary-s: 43.04%; */
    /* --base-primary-l: 69.02%; */

    /* Mid blue */
    /* --base-primary-h: 194.38deg; */
    /* --base-primary-s: 82.31%; */
    /* --base-primary-l: 28.82%; */

    /* Dark blue */
    /* --base-primary-h: 193.57deg; */
    /* --base-primary-s: 85.71%; */
    /* --base-primary-l: 19.22%; */

  /* design tokens */
    /* system: category-property-surface-variant--state */
    /* example: color-background-container-primary--hover */

    /* color */
      /* Values */
        --base-primary-h: 175.38; /* omit deg */
        --base-primary-s: 63.03%;
        --base-primary-l: 44.31%;

        --base-secondary-h: calc(var(--base-primary-h) - 120);
        --base-secondary-s: calc(var(--base-primary-s) - 25%);
        --base-secondary-l: 44.31%;

        --base-tertiary-h: calc(var(--base-primary-h) + 120);
        --base-tertiary-s: calc(var(--base-primary-s) + 25%);
        --base-tertiary-l: 44.31%;

        --alpha: 1;

      /* Base Variables */
        --color-primary-10: hsl(var(--base-primary-h) var(--base-primary-s) calc(var(--base-primary-l) - (var(--base-primary-l))*(4/5)) / var(--alpha));
        --color-primary-20: hsl(var(--base-primary-h) var(--base-primary-s) calc(var(--base-primary-l) - (var(--base-primary-l))*(3/5)) / var(--alpha));
        --color-primary-30: hsl(var(--base-primary-h) var(--base-primary-s) calc(var(--base-primary-l) - (var(--base-primary-l))*(2/5)) / var(--alpha));
        --color-primary-40: hsl(var(--base-primary-h) var(--base-primary-s) calc(var(--base-primary-l) - (var(--base-primary-l))*(1/5)) / var(--alpha));
        --color-primary-50: hsl( var(--base-primary-h) var(--base-primary-s) var(--base-primary-l) / var(--alpha));
        --color-primary-60: hsl(var(--base-primary-h) var(--base-primary-s) calc( var(--base-primary-l) + (100% - var(--base-primary-l))*(1/5)) / var(--alpha));
        --color-primary-70: hsl(var(--base-primary-h) var(--base-primary-s) calc( var(--base-primary-l) + (100% - var(--base-primary-l))*(2/5)) / var(--alpha));
        --color-primary-80: hsl(var(--base-primary-h) var(--base-primary-s) calc( var(--base-primary-l) + (100% - var(--base-primary-l))*(3/5)) / var(--alpha));
        --color-primary-90: hsl(var(--base-primary-h) var(--base-primary-s) calc( var(--base-primary-l) + (100% - var(--base-primary-l))*(4/5)) / var(--alpha));
        --color-primary-100: hsl(var(--base-primary-h) var(--base-primary-s) 97% / var(--alpha));

        --color-secondary-10: hsl(var(--base-secondary-h) var(--base-secondary-s) calc(var(--base-secondary-l) - (var(--base-secondary-l))*(4/5)) / var(--alpha));
        --color-secondary-20: hsl(var(--base-secondary-h) var(--base-secondary-s) calc(var(--base-secondary-l) - (var(--base-secondary-l))*(3/5)) / var(--alpha));
        --color-secondary-30: hsl(var(--base-secondary-h) var(--base-secondary-s) calc(var(--base-secondary-l) - (var(--base-secondary-l))*(2/5)) / var(--alpha));
        --color-secondary-40: hsl(var(--base-secondary-h) var(--base-secondary-s) calc(var(--base-secondary-l) - (var(--base-secondary-l))*(1/5)) / var(--alpha));
        --color-secondary-50: hsl( var(--base-secondary-h) var(--base-secondary-s) var(--base-secondary-l) / var(--alpha));
        --color-secondary-60: hsl(var(--base-secondary-h) var(--base-secondary-s) calc( var(--base-secondary-l) + (100% - var(--base-secondary-l))*(1/5)) / var(--alpha));
        --color-secondary-70: hsl(var(--base-secondary-h) var(--base-secondary-s) calc( var(--base-secondary-l) + (100% - var(--base-secondary-l))*(2/5)) / var(--alpha));
        --color-secondary-80: hsl(var(--base-secondary-h) var(--base-secondary-s) calc( var(--base-secondary-l) + (100% - var(--base-secondary-l))*(3/5)) / var(--alpha));
        --color-secondary-90: hsl(var(--base-secondary-h) var(--base-secondary-s) calc( var(--base-secondary-l) + (100% - var(--base-secondary-l))*(4/5)) / var(--alpha));
        --color-secondary-100: hsl(var(--base-secondary-h) var(--base-secondary-s) 97% / var(--alpha));

        --color-tertiary-10: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc(var(--base-tertiary-l) - (var(--base-tertiary-l))*(4/5)) / var(--alpha));
        --color-tertiary-20: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc(var(--base-tertiary-l) - (var(--base-tertiary-l))*(3/5)) / var(--alpha));
        --color-tertiary-30: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc(var(--base-tertiary-l) - (var(--base-tertiary-l))*(2/5)) / var(--alpha));
        --color-tertiary-40: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc(var(--base-tertiary-l) - (var(--base-tertiary-l))*(1/5)) / var(--alpha));
        --color-tertiary-50: hsl( var(--base-tertiary-h) var(--base-tertiary-s) var(--base-tertiary-l) / var(--alpha));
        --color-tertiary-60: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc( var(--base-tertiary-l) + (100% - var(--base-tertiary-l))*(1/5)) / var(--alpha));
        --color-tertiary-70: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc( var(--base-tertiary-l) + (100% - var(--base-tertiary-l))*(2/5)) / var(--alpha));
        --color-tertiary-80: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc( var(--base-tertiary-l) + (100% - var(--base-tertiary-l))*(3/5)) / var(--alpha));
        --color-tertiary-90: hsl(var(--base-tertiary-h) var(--base-tertiary-s) calc( var(--base-tertiary-l) + (100% - var(--base-tertiary-l))*(4/5)) / var(--alpha));
        --color-tertiary-100: hsl(var(--base-tertiary-h) var(--base-tertiary-s) 97% / var(--alpha));

      /* text */  
        --c-text: var(--color-primary-20);
        --c-text-primary: var(--color-primary-20);
        --c-text-secondary: 1;
        --c-text-tertiary: 1;
        --c-text-brand: var(--color-primary-50);
        --c-text-list: 1;
        --c-text-selected: 1;
        --c-text-white: 1;
        --c-text-altert: 1;
        --c-text-rising: 1;
        --c-text-falling: 1;
        --c-text-button-link: 1;
        --c-text-button-primary-active: 1;
        --c-text-button-primary-disabled: 1;
        --c-text-button-secondary-active: 1;
        --c-text-button-secondary-disabled: 1;
        --c-text-button-promoted-active: 1;
        --c-text-button-promoted-disabled: 1;

      /* accent */
        --c-accent: var(--color-primary-50);

      /* icons */
        --c-icons: var(--color-primary-60);
        --c-icons-primary: var(--c-icons);
        --c-icons-onAccent: var(--color-primary-60);

      /* background */
        --c-background: var(--color-primary-100);

    /* typography */
    /* space */
    /* shape */
    /* elevation */
    /* iconography and illustrations */
    /* animation */
    /* sound */
    /* haptics */

}

.light {
  --color-primary-titles: var(--color-primary-10);
  --color-primary-paragraphs: var(--color-primary-20);
  --color-primary-accent: var(--color-primary-50);
  --color-primary-icons: var(--color-primary-60);
  --color-primary-iconsOnAccent: var(--color-primary-100);
  --color-primary-background: var(--color-primary-100);
  --color-primary-textOnAccent: var(--color-primary-20);

  --color-secondary-titles: var(--color-secondary-10);
  --color-secondary-paragraphs: var(--color-secondary-20);
  --color-secondary-accent: var(--color-secondary-50);
  --color-secondary-icons: var(--color-secondary-60);
  --color-secondary-iconsOnAccent: var(--color-secondary-100);
  --color-secondary-background: var(--color-secondary-100);
  --color-secondary-textOnAccent: var(--color-secondary-20);
  
  --color-tertiary-titles: var(--color-tertiary-100);
  --color-tertiary-paragraphs: var(--color-tertiary-20);
  --color-tertiary-accent: var(--color-tertiary-50);
  --color-tertiary-icons: var(--color-tertiary-60);
  --color-tertiary-iconsOnAccent: var(--color-tertiary-100);
  --color-tertiary-background: var(--color-tertiary-100);
  --color-tertiary-textOnAccent: var(--color-tertiary-20);
}

.dark {
  --color-primary-titles: var(--color-primary-100);
  --color-primary-paragraphs: var(--color-primary-100);
  --color-primary-accent: var(--color-primary-50);
  --color-primary-icons: var(--color-primary-40);
  --color-primary-iconsOnAccent: var(--color-primary-20);
  --color-primary-background: var(--color-primary-10);
  --color-primary-textOnAccent: var(--color-primary-20);

  --color-secondary-titles: var(--color-secondary-100);
  --color-secondary-paragraphs: var(--color-secondary-100);
  --color-secondary-accent: var(--color-secondary-50);
  --color-secondary-icons: var(--color-secondary-40);
  --color-secondary-iconsOnAccent: var(--color-secondary-20);
  --color-secondary-background: var(--color-secondary-10);
  --color-secondary-textOnAccent: var(--color-secondary-20);

  --color-tertiary-titles: var(--color-tertiary-100);
  --color-tertiary-paragraphs: var(--color-tertiary-100);
  --color-tertiary-accent: var(--color-tertiary-50);
  --color-tertiary-icons: var(--color-tertiary-40);
  --color-tertiary-iconsOnAccent: var(--color-tertiary-20);
  --color-tertiary-background: var(--color-tertiary-10);
  --color-tertiary-textOnAccent: var(--color-tertiary-20);
}

body {
  color: var(--color-primary-paragraphs);
  background: var(--color-primary-background);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary-titles);
}

.active {
  color: var(--color-primary-accent);
}

a {
  color: var(--color-primary-accent);
}

button {
  all: initial;

  color: var(--color-primary-titles);
  background: var(--color-primary-accent);
  border-radius: 5px;
  padding: .3rem .8rem;
}

button:hover {
  color: var(--color-primary-paragraphs);
  background: var(--color-primary-icons);

  cursor: pointer;
  box-shadow: 3px 2px var(--color-primary-iconsOnAccent);
}

button.secondary, .chip {
  color: var(--color-secondary-titles);
  background: var(--color-secondary--accent);
}

button.tertiary {
  color: var(--color-tertiary-titles);
  background: var(--color-tertiary-accent);
}

svg {
  color: var(--color-primary-icons);
}

.accent>svg, button>svg{
  color: var(--color-primary-iconsOnAccent);
}

footer, header {
  background: var(--color-primary-accent);
  color: var(--color-primary-textOnAccent);
}

footer a {
  color: var(--color-primary-textOnAccent);
  text-decoration: none;
  border-bottom: 2px transparent;
  transition: ease-in;
  transition-duration: 1s;
}

footer a:hover {
  border-bottom: 2px solid var(--color-primary-iconsOnAccent);
}

code {
  background: var(--color-secondary-80);
  color: var(--color-primary-textOnAccent);
}
